.feature {
  background-color: $lightGrayishBlue;
  text-align: center;
  @include breakpoint-up(medium) {
    text-align: left;
  }
  &__intro {
    margin-bottom: 60px;
    @include breakpoint-up(large) {
      width: 60%;
    }
    p {
      @include breakpoint-up(large) {
        font-size: 17px;
        font-weight: 400;
      }
    }
  }
  &__grid {
    @include breakpoint-up(medium) {
      display: flex;
      flex-wrap: wrap;
    }
  }
  &__item {
    padding: 14px;

    @include breakpoint-up(medium) {
      flex: 0 0 50%;
    }
    @include breakpoint-up(large) {
      flex: 1;
    }
  }
  &__icon {
    margin-bottom: 27px;
    @include breakpoint-up(large) {
      margin-bottom: 42px;
    }
  }
  &__title {
    font-size: 20px;
    color: $darkBlue;
    font-weight: 300;
    margin-bottom: 16px;
    @include breakpoint-up(large) {
      font-size: 24px;
      margin-bottom: 24px;
    }
  }
  &__description {
    font-size: 14px;
    line-height: 1.5;
  }
}