.header {
  position: relative;
  margin-top: 14px;
  z-index: 1;
  nav {
    position: relative;
    background-color: $white;
    padding-top: 18px;
    padding-bottom: 15px;
  }
  &__logo {
    img {
      width: 140px;
      height: 18px;
    }
  }
  &__menu {
    width: calc(100% - 48px);
    margin-left: 20%;
    background: $white;
    a {
      position: relative;
      font-size: $font-sm;
      color: $grayishBlue;
      &:not(:last-child) {
        margin-right: 32px;
      }
      &::before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        bottom: -30px;
        height: 5px;
        background: linear-gradient(to right, $limeGreen, $brightCyan);
        opacity: 0;
        transition: all 300ms;
      }
      &:hover {
        color: $darkBlue;
        &::before {
          opacity: 1;
        }
      }
    }
  }
  .button {
    margin-top: -10px;
  }
}
.menuBtn {
  display: none;
}
@media screen and (max-width: 1000px) {
  .header__menu {
    display: none;
  }
  .header__cta {
    display: none;
  }
  .menuBtn {
    display: flex;
    justify-content: end;
    width: 100%;
    font-weight: 900;
    font-size: 20px;
  }
}